
footer{
    background-color: darkblue;
    a{
        color: white;
    }
}

  footer h3{
    color: $white;
  }
  .footer-row-links{
    display: flex;
    flex-direction: row;
  }
  .footer-row{
    display: flex;
  }
  